/* vars */
/* Set project basis and tools */
html {
  height: 100%;
  font-size: 10px;
  /* Set basis for-rems */
  font-family: "Arimo", sans-serif;
}

body {
  font-size: 1.6rem;
  color: #313131;
}

img {
  width: 100%;
}

.w95 {
  width: 95%;
}

.centered {
  margin: 0 auto;
}

.bolder {
  font-weight: 900;
}

.normal {
  font-weight: 400;
}

.shrinked {
  font-size: 1.5rem;
}

.no-deco {
  text-decoration: none;
  color: #313131;
}
.no-deco:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fourth-gb {
  background-color: #f5f5f5;
}

/* Started styling */
/* Navigation bar */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1500;
  background: #fff;
}

nav {
  height: 5rem;
  font-size: 2rem;
  z-index: 5;
}

/* End of navigation bar */
/* Start of main block styling */
.promo {
  z-index: 2;
  width: 80vh;
  min-width: 5rem;
  min-height: 5rem;
}

.text-banner {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.text-banner h1,
.block-banner h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}
.text-banner .shoplink,
.block-banner .shoplink {
  font-size: 1.8rem;
}

.block-banner {
  padding: 4rem;
  max-width: 50%;
  height: 40rem;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

.block-banner-desk {
  padding: 4rem;
  max-width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  z-index: 2;
}

/* End of main block styling */
/* Start asides columns */
.asides {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  font-size: 1.8rem;
}

.first-wrapper {
  height: 100%;
}

.category-wrapper a:first-of-type {
  padding-top: 20%;
}

.cart-items {
  padding: 0.5rem 0.8rem;
  background: #313131;
  color: #fff;
  border-radius: 5rem;
}

/* End of aside columns */
/* Start of the main desktop - section */
section {
  height: 100vh;
}
section .full {
  height: 100%;
}
section .content-wrapper {
  height: 100%;
}
section .content-wrapper #lefty {
  width: 65%;
}
section .content-wrapper .right-img-banner {
  width: 35%;
}
section .content-wrapper .right-img-banner #righty {
  max-height: 50%;
}

.first-sect {
  overflow: hidden;
}

.vertical-text {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

#fullpage {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

/* End of the main desktop - section */
/* Start Categories */
.cat-title {
  margin: 3rem 0;
  text-transform: uppercase;
}
.cat-title h1 {
  font-size: 4rem;
}

.products-show {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 25rem;
  -ms-flex-preferred-size: calc(33.3%);
      flex-basis: calc(33.3%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}
.product span {
  font-weight: 900;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.product .product-reference {
  font-weight: 400;
  font-size: 1.4rem;
  top: 1rem;
  left: 1rem;
}
.product .item-description {
  height: auto;
}

.vertical-catalogue-text,
.indicator-cata {
  display: none !important;
}

/* End Categories */
/* Start Product overview */
.product-v-container {
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-v-container > * {
  margin: 0.3rem 0;
  background-color: #f5f5f5;
}

.product-show-g {
  max-height: 18rem;
  height: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.product-show-g .image-container-v {
  -ms-flex-preferred-size: calc(25% - 0.4rem);
      flex-basis: calc(25% - 0.4rem);
}
.product-show-g img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-container {
  margin-top: 0.4rem;
  max-height: 50rem;
}

.table {
  display: table;
  margin: 0 auto;
  padding: 2.5rem;
}

.numbers {
  list-style: none;
}
.numbers li {
  display: inline;
}

.product-description {
  width: 30%;
}
.product-description .highlights {
  padding: 2rem;
  line-height: 1.5;
}
.product-description .item-model {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.product-description .material {
  color: #a0a0a0;
}
.product-description .details-title {
  text-transform: uppercase;
  font-size: calc(0.5rem + 1vw);
}
.product-description .price {
  font-size: 2.2rem;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-image {
  -ms-flex-preferred-size: calc(70% - 1rem) !important;
      flex-basis: calc(70% - 1rem) !important;
}

.last-container {
  height: 10rem;
}

.cart-left {
  width: 30%;
  text-transform: capitalize;
  font-size: 2rem;
}

.right-banner {
  width: 70%;
  font-size: 3rem;
}

.product-h-container,
.g-images-v,
.g-main-v {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* End Product overview */
@media screen and (min-width: 992px) {
  .product-v-container,
  .product-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .second-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-wrapper {
    display: none;
  }

  .promo {
    max-height: 90rem;
  }

  .product:nth-of-type(n + 4) {
    margin-top: 10rem;
  }

  .product-window {
    min-height: 768px;
  }

  /* .description-text {
    font-size: calc(0.3rem + 0.8vw);
  } */
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .promo {
    height: auto;
  }

  .main-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: auto 0;
  }

  .main-wrapper {
    overflow: hidden;
    top: 0;
    height: 100%;
    position: relative;
  }

  .product {
    max-height: 30rem;
    -ms-flex-preferred-size: calc(50% - 1rem);
        flex-basis: calc(50% - 1rem);
    margin-bottom: 6rem;
  }

  .category-wrapper .brand-banner {
    display: none;
  }

  .image-container-h {
    max-height: 22vh;
  }

  .g-images-v {
    -ms-flex-preferred-size: calc(25% - 1rem);
        flex-basis: calc(25% - 1rem);
  }

  .g-main-v {
    width: 75%;
    padding-left: 1rem;
  }
  .g-main-v .main-h-image {
    padding: 5rem 0;
  }
  .g-main-v .highlights {
    padding: 6rem 1.5rem;
  }
  .g-main-v .details {
    padding: 5rem 1.5rem;
  }
  .g-main-v .cart-left-n {
    text-transform: capitalize;
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    height: 100%;
  }

  .g-main-v {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  .highlights {
    padding: 1rem 1rem;
  }

  .details {
    padding: 1rem 1rem;
  }

  .main-wrapper {
    height: calc(100vh - 5rem);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font: #313131;
  }

  .product {
    height: 22rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 4rem auto;
  }
  .product:nth-of-type(1) {
    margin-top: 1rem;
  }
}
@media screen and (max-height: 568px) {
  .promo {
    max-height: 40rem;
  }
}
