/* vars */
/* Set project basis and tools */
html {
  height: 100%;
  font-size: 10px;
  /* Set basis for-rems */
  font-family: "Arimo", sans-serif;
}

body {
  font-size: 1.6rem;
  color: #313131;
}

img {
  width: 100%;
}

.w95 {
  width: 95%;
}

.centered {
  margin: 0 auto;
}

.bolder {
  font-weight: 900;
}

.normal {
  font-weight: 400;
}

.shrinked {
  font-size: 1.5rem;
}

.no-deco {
  text-decoration: none;
  color: #313131;
}
.no-deco:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Started styling */
/* Navigation bar */
nav {
  height: 5rem;
  font-size: 2rem;
  z-index: 5;
}

/* End of navigation bar */
/* Start of main block styling */
.promo {
  z-index: 2;
  width: 80vh;
  min-width: 5rem;
  min-height: 5rem;
}

.text-banner {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.text-banner h1,
.block-banner h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}
.text-banner .shoplink,
.block-banner .shoplink {
  font-size: 1.8rem;
}

.block-banner {
  padding: 4rem;
  max-width: 50%;
  height: 40rem;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

.block-banner-desk {
  padding: 4rem;
  max-width: 50%;
  height: 40rem;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  z-index: 2;
}

/* End of main block styling */
.asides {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

.first-wrapper {
  height: 100%;
}

.category-wrapper a:first-of-type {
  padding-top: 20%;
}

.cart-items {
  padding: 0.5rem 0.8rem;
  background: #313131;
  color: #fff;
  border-radius: 5rem;
}

section {
  height: 100vh;
}
section .full {
  height: 100vh;
}

#fullpage {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 992px) {
  .main-wrapper {
    display: none;
  }

  .promo {
    max-height: 90rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .promo {
    height: auto;
  }

  .main-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: auto 0;
  }

  .main-wrapper {
    overflow: hidden;
    top: 0;
    height: 100%;
    position: relative;
  }
}
.vertical-text {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
  }

  .main-wrapper {
    height: calc(100vh - 5rem);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font: #313131;
  }
}
@media screen and (max-height: 568px) {
  .promo {
    max-height: 40rem;
  }
}
