/* vars */

$main: #313131;
$second: #fff;
$third: #b9b9b9;
$fourth: #f5f5f5;

$nav-height: 5rem;

/* Set project basis and tools */

html {
  height: 100%;
  font-size: 10px; /* Set basis for-rems */
  font-family: "Arimo", sans-serif;
}

body {
  font-size: 1.6rem;
  color: $main;
}

img {
  width: 100%;
}

.w95 {
  width: 95%;
}

.centered {
  margin: 0 auto;
}

.bolder {
  font-weight: 900;
}

.normal {
  font-weight: 400;
}

.shrinked {
  font-size: 1.5rem;
}

.no-deco {
  text-decoration: none;
  color: $main;

  &:hover {
    text-decoration: none;
    color: darken($main, 50%);
    font-weight: bold;
  }
}

/* Started styling */

/* Navigation bar */

header {
  position: sticky;
  top: 0;
  z-index: 1500;
  background: $second;
}

nav {
  height: $nav-height;
  font-size: 2rem;
  z-index: 5;
}

/* End of navigation bar */

/* Start of main block styling */

.promo {
  z-index: 2;
  width: 80vh;
  min-width: 5rem;
  min-height: 5rem;
}

.text-banner {
  height: auto;
  flex-grow: 1;
}

.text-banner,
.block-banner {
  h1 {
    width: fit-content;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
  }

  .shoplink {
    font-size: 1.8rem;
  }
}

.block-banner {
  padding: 4rem;
  max-width: 50%;
  height: 40rem;
  bottom: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #fff;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

.block-banner-desk {
  padding: 4rem;
  max-width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #fff;
  justify-content: space-around;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 2;
}

/* End of main block styling */

/* Start asides columns */
.asides {
  position: sticky;
  top: 0;
  height: 100vh;
  font-size: 1.8rem;
}

.first-wrapper {
  height: 100%;
}

.category-wrapper {
  a:first-of-type {
    padding-top: 20%;
  }
}

.cart-items {
  padding: 0.5rem 0.8rem;
  background: $main;
  color: $second;
  border-radius: 5rem;
}

/* End of aside columns */

/* Start of the main desktop - section */

section {
  height: 100vh;

  .full {
    height: 100%;
  }

  .content-wrapper {
    height: 100%;

    #lefty {
      width: 65%;
    }

    .right-img-banner {
      width: 35%;

      #righty {
        max-height: 50%;
      }
    }
  }
}

.first-sect {
  overflow: hidden;
}

.vertical-text {
  writing-mode: tb-rl;
}

#fullpage {
  height: fit-content;
  overflow: hidden;
}

/* End of the main desktop - section */

/* Start Categories */

.cat-title {
  margin: 3rem 0;
  text-transform: uppercase;

  h1 {
    font-size: 4rem;
  }
}

.products-show {
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex-grow: 1;
  height: 25rem;
  flex-basis: calc(33.3%);
  justify-content: space-between;
  padding: 0 1rem;

  span {
    font-weight: 900;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .product-reference {
    font-weight: 400;
    font-size: 1.4rem;
    top: 1rem;
    left: 1rem;
  }

  .item-description {
    height: auto;
  }
}

.vertical-catalogue-text,
.indicator-cata {
  display: none !important;
}

/* End Categories */

/* Start Product overview */

.product-v-container {
  flex-wrap: wrap;
}

.product-show-g {
  max-height: 30rem;
  flex-basis: 100%;
  overflow: hidden;
  justify-content: space-between;

  .image-container-v {
    flex-basis: calc(25% - 1rem);
    object-fit: scale-down;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.table {
  display: table;
  margin: 0 auto;
  padding: 2.5rem;
}

.numbers {
  list-style: none;

  li {
    display: inline;
  }
}

.product-description {
  width: 30%;

  .highlights {
    padding: 2rem;
    line-height: 1.5;
  }

  .item-model {
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  .material {
    color: darken($third, 10%);
  }

  .details-title {
    text-transform: uppercase;
    font-size: 2rem;
  }

  .price {
    font-size: 2.5rem;
  }
}

.product-image {
  flex-basis: calc(70% - 1rem) !important;
}

/* End Product overview */

@media screen and (min-width: 992px) {
  .main-wrapper {
    display: none;
  }

  .promo {
    max-height: 90rem;
  }

  .product:nth-of-type(n + 4) {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .promo {
    height: auto;
  }

  .main-content {
    width: fit-content;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0;
    margin: auto 0;
  }

  .main-wrapper {
    overflow: hidden;
    top: 0;
    height: 100%;
    position: relative;
  }

  .product {
    max-height: 30rem;
    flex-basis: calc(50% - 1rem);
    margin-bottom: 6rem;
  }

  .category-wrapper {
    .brand-banner {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    height: 100%;
  }

  .main-wrapper {
    height: calc(100vh - 5rem);
    flex-grow: 1;
    font: $main;
  }

  .product {
    height: 22rem;
    flex-basis: 100%;
    margin: 4rem auto;

    &:nth-of-type(1) {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-height: 568px) {
  .promo {
    max-height: 40rem;
  }
}
